<?xml version="1.0"?>

<menu>
  <item file="news.html">News</item>
  <item file="index.html">Introduction</item>
  <item file="screenshots.html">Screenshots</item>
  <item file="download.html">Download</item>
  <item file="development.html">Development</item>
  <item file="contact.html">Contact</item>
<!--  <item file="phpBB2">Forum</item> -->
  <item file="https://developer.berlios.de/projects/windstille/">berliOS</item>
              
</menu>
